.card {
    border: 1px solid #DDD;
    width: 33.333%;
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
}
.card-body {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.property-info {
    cursor: pointer;
    padding: 5px;
}
.property-info:hover {
    border: 1px solid #DDD;
}
.dropdown {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.btn {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 10px 12px;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}
.btn-view-ratings:active {
    transform: translateY(3px);
}
.btn-filter {
    background-color: #50C878;
    font-weight: bold;
}
.btn-filter:active {
    transform: translateY(3px);
}
.table, th, td {
    border: 1px solid #DDD;
    padding: 10px;
    border-collapse: collapse;
}
.table {
    width: 100%;
}
.date-container{
    width: 30%;
    margin-bottom: 5px;
}
.date-input {
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.error-filter {
    color: #EE4D2D;
}
.admin-header {
    width: 100%;
    background-color: #ee684d;
    height: 100px;
    display: flex;
}
.admin-link {
    display: flex;
    flex-direction: row;
}
.admin-container {
    display: 'flex';
    flex-direction: 'row';
    padding: 10px;
    width: 100%;
}
.admin-container:hover {
    background-color: #333;
    cursor: pointer;
}
.admin-link .admin-container a{
    text-decoration: none;
    display: block;
    width: 100%;
}