.card {
    border: 1px solid #DDD;
    width: 33.333%;
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
}
.card-body {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.property-info {
    cursor: pointer;
    padding: 5px;
}
.property-info:hover {
    border: 1px solid #DDD;
}
.dropdown {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.btn {
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}
.btn-view-ratings:active {
    transform: translateY(3px);
}
.table, th, td {
    border: 1px solid #DDD;
    padding: 10px;
    border-collapse: collapse;
}
.table {
    width: 100%;
}