* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: row;
}
.left-nav {
  width: 250px;
  height: 100vh;
  background-color: #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
}
